/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
 /* Header-css style-start */
header{
    background-color: 
    #2D25A0;
    width: 100%
    
}
.text-img-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px 120px 0 180px;
    padding: 0 0 115px 0;

}
.button{
    color: #FFFFFF;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 25px;
}
.text-box{
    width: 530px;
    height: 438px;
}
.text-font{
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.button-box{
    margin: 25px 0 0 0;
}
.img-box img{
    width: 530px;
    height: 438px;
}
/* Header-css style-end */


/* Main--part--start */
.players{
    display: flex;
    justify-content: center;
    margin: 70px 0 ;
    
}
.player-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.player-card{
   width: 330px;
   padding: 15px;
   /* height: 474px; */
   border: 3px solid #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0,0,0,.15);
}
.player-card img{
    width: 100%;
}
.player-name{
    font-weight: 700 ; 
    font-size: 28px;
}

/* Main--part--end */

/* footer-start--*/
footer{
    display: flex;
    justify-content: center;
}

.footer-box{
   width: 483.87px;
   height: 213px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px 0 65px 0;
}
.footer-logo-img{
   width: 483.87px;
   height: 213px;
}
.footer-logo-img img{
    width: 100%;
}
.footer-icons{
    margin: 0 0 20px 0;
}
.icon{
    color:  #0B0D17;
    padding:   7px;
    border-radius: 25px;
    margin: 5px;
}

/* footer-end-- */





/* Media--query--start */


@media only screen and (max-width:688px) {

header{
    width: 67%;
}
/*--header--Media--querypart--*/
.text-img-box{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin: unset;
   padding: unset;}
.text-box{
    width: 180px;
    height: 300px;
}
.text-font{
    font-size: 28px;
}

.img-box img{
   width: 200px;
   height: auto;
   margin: 0 0 60px 0;}

   .button{
       padding: 10px;
       font-size: 11px;
   }


   /*--main--start  */
        /*--players--*/
        .players{
            width: 67%;
        }
        .player-cards{
            grid-template-columns: repeat(1,1fr);
        }
        .player-card{
            width: 190px;
        }
        .player-name{
            font-weight: 700 ; 
            font-size: 18px;
        }
        .player-info{
            font-size: 8px;
        }
        /*--palyers--end--*/


}